html,
body {
    width: 100%;
    height: 100%;
    background-color: #FEFEFE;
}

.infoInput {
    border-radius: 30px;
    background-color: #ebf0fc;
    border-color: #ebf0fc;
    color: #9da3b0;
}

#login-card {
    width: 350px;
    border-radius: 25px;
}

#loginRow {
    width: 100%;
    height: 100%;
    margin-left: 0;
}

#usernameDiv {
    margin-bottom: 10px;
}

#passwordDiv {
    margin-bottom: 10px;
}

#loginBtn {
    width: 200px;
    border-radius: 30px;
    background-color: #8AAAE5;
    border: none;
}

#loginBtnDiv {
    width: 200px;
    margin: 0 auto;
}

#rememberMeDiv {
    width: 115px;
    margin: 0 auto;
    margin-top: 5px;
}