@font-face {
    font-family: 'Noto Sans KR';
    src: url('https://fonts.googleapis.com/earlyaccess/notosanskr.css') format('css');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
}